#main {
  display: flex;
  height: 100vh;
  flex-direction: column;

  .content {
    background: #E0E0E0;
    flex: 1;
    overflow: auto;
  }
}

.logo {
  line-height: 50px;
  font-size: 1.6em;
  flex: 1 0 auto;
  padding: 0 10px;
}
